@import src/assets/utilities/colors.sass
@import src/assets/utilities/breakpoints.sass
@import src/assets/utilities/mixin.sass

.cart__container
    display: grid
    grid-template-columns: 70% 30%
    z-index: 3

.cart__background
    background-color: $blurColor
    backdrop-filter: blur(3.5px)
    z-index: 2
    position: fixed
    width: 100%
    height: 100%
    @media (max-width: $screen-m)
        display: none

.filled-cart__light
    background-color: $lightColor
    position: fixed
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    margin: 0
    width: 500px
    padding: 0 2% 0 2%
    height: 92vh
    z-index: 2
    right: 0%
    @media (max-width: $screen-m)
        width: 100vw
        height: 84vh

.filled-cart__dark
    background-color: $darkColor
    position: fixed
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    margin: 0
    width: 500px
    padding: 0 2% 0 2%
    height: 92vh
    z-index: 2
    right: 0%
    @media (max-width: $screen-m)
        width: 100vw
        height: 84vh

.exit__cart
    position: absolute
    left: 0
    color: grey
    transform: scale(1.1)
    &:active
        transform: scale(0.98)

.articles-container
    display: flex
    flex-direction: column
    overflow: auto

.articles-container__light
    background-color: $itemsLightColor
    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-start
    width: 480px
    height: 210px
    margin: 4% 0 0 0
    padding: 10px
    border: 0
    border-radius: 7px
    @media (max-width: $screen-m)
        width: 90vw

.articles-container__dark
    background-color: $itemsDarkColor
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: flex-start
    width: 480px
    height: 210px
    margin: 4% 0 0 0
    padding: 10px
    border: 0
    border-radius: 7px
    @media (max-width: $screen-m)
        width: 90vw

.articles-container__first
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%

.articles-container__second
    display: flex
    align-items: center
    justify-content: space-between
    height: 50px
    width: 100%

.articles-container__title
    display: flex
    align-items: flex-start
    width: 250px
    margin: 0 10px
    display: block
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    color: $lightTextColor

.articles-container__image
    width: 150px
    min-width: 150px
    height: 150px
    border-radius: 5px
    margin: 0

.articles-container__quantity
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    width: 150px
    margin: 0

.articles-container__text
    margin: 0 6px 0 6px
    font-size: 20px
    color: $lightTextColor

.articles-container__quantity--icons
    transform: scale(1.2)
    color: grey
    min-width: 19px
    &:active
        transform: scale(1.12)

.articles-container__prices
    display: flex
    flex-direction: column
    align-items: flex-end
    justify-content: center
    width: 100px
    margin: 0

.articles-container__sum
    margin: 0
    color: $lightTextColor

.articles-container__price
    margin-top: 5px
    color: $lightTextColor

.pay-container
    width: 100%
    padding: 10px
    border-top: 2px solid grey
    margin-bottom: 1%

.pay-container__value
    display: flex
    justify-content: space-between
    align-items: center
    padding-bottom: 10px

.pay-container__text
    margin: 0
    color: $lightTextColor

.pay-container__buttons
    display: flex
    flex-direction: row
    justify-content: space-between
    button
        background: $accessoriesColor
        color: $lightTextColor
        width: 70%
        padding: 3% 3% 3% 3%
        border: 0
        margin: 5px
        border-radius: 4px
        &:active
            transform: scale(0.98)

.empty-cart__light
    background-color: $lightColor
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    margin-top: 35%
    z-index: 2

.empty-cart__dark
    background-color: $darkColor
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    margin-top: 35%
    z-index: 2

.empty-cart__logo
    min-width: 200px
    width: 10vw

.empty-cart__title
    margin-bottom: 0
    padding: 0 20px 0 20px
    color: $lightTextColor

.empty-cart__news
    margin: 2%
    color: $lightTextColor
    @include sizeText

.empty-cart__btn
    @include sizeText
    background: $accessoriesColor
    color: $lightTextColor
    min-width: 120px
    width: 8vw
    padding: 15px 0 15px 0
    border: 0
    border-radius: 4px
    &:active
        transform: scale(0.98)

.dark-text-color
    color: $darkTextColor
