$mainLightColor: #FFFFFF
$mainDarkColor: #292929
$ButtonColor: linear-gradient(90deg, #6a5acd 0%, #956a7d 100%)
$productsDarkColor: #1d1d1d94
$productsLightColor: #f0f0f0c7

@mixin size-text
    font-size: 100%
    text-align: center

.empty-cart__light
    background-color: $mainLightColor
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 100%
    height: 80vh

.empty-cart__dark
    background-color: $mainDarkColor
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 100%
    height: 80vh

.empty-cart__logo
    min-width: 200px
    width: 17vw

.empty-cart__title
    margin-bottom: 0
    padding: 0 20px 0 20px

.empty-cart__news
    @include size-text

.empty-cart__btn
    @include size-text
    background: $ButtonColor
    color: $mainLightColor
    min-width: 120px
    width: 8vw
    padding: 15px 0 15px 0
    border: 0
    border-radius: 4px
    &:active
        transform: scale(0.98)

.filled-cart__light
    background-color: $mainLightColor
    display: grid
    grid-template-columns: 70% 30%
    width: 100%
    height: 80vh
    padding: 0 10% 0 10%

.filled-cart__dark
    background-color: $mainDarkColor
    display: grid
    grid-template-columns: 70% 30%
    width: 100%
    height: 80vh
    padding: 0 10% 0 10%

.articles-container
    display: flex
    flex-direction: column
    overflow: auto

.articles-container__light
    background-color: $productsLightColor
    display: flex
    flex-direction: row
    justify-content: space-around
    align-items: center
    height: 20vh
    margin: 20px 20px 0 0
    padding: 10px
    border: 0
    border-radius: 7px

.articles-container__dark
    background-color: $productsDarkColor
    display: flex
    flex-direction: row
    justify-content: space-around
    align-items: center
    height: 20vh
    margin: 20px 20px 0 0
    padding: 10px
    border: 0
    border-radius: 7px

.articles-container__image
    width: 150px
    height: 150px
    border-radius: 5px

.articles-container__title
    width: 200px
    text-size
    display: block
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap

.articles-container__quantity
    display: flex
    flex-direction: row
    align-items: center
    p
        margin: 0 6px 0 6px
        font-size: 20px

.articles-container__quantity--icons
    transform: scale(1.2)
    color: grey
    &:active
        transform: scale(1.12)

.articles-container__prices
    display: flex
    flex-direction: column
    align-items: flex-end
    width: 60px
    p
        margin-top: 5px
    h4
        margin: 0

.pay-container__light
    background-color: $productsLightColor
    min-height: 230px
    height: 30%
    margin: 20px 0 0 20px
    padding: 10px
    border: 0
    border-radius: 7px

.pay-container__dark
    background-color: $productsDarkColor
    min-height: 230px
    height: 30%
    margin: 20px 0 0 20px
    padding: 10px
    border: 0
    border-radius: 7px

.pay-container__value
    display: flex
    flex-direction: row
    justify-content: space-between
    padding-bottom: 10px
    h1
        margin: 0

.pay-container__buttons
    display: flex
    flex-direction: column
    align-items: center
    button
        background: $ButtonColor
        color: $mainLightColor
        margin: 5px 0 5px 0
        width: 70%
        padding: 3% 3% 3% 3%
        border: 0
        border-radius: 4px
        &:active
            transform: scale(0.98)
