<main class="cart__container" [ngStyle]="{ display: cartState ? 'inline' : 'none' }">
  <div class="cart__background"></div>
    <ng-container *ngIf="products.length != 0">
        <div [ngClass]="currentDarkModeState ? 'filled-cart__dark' : 'filled-cart__light'" >
            <mat-icon (click)="switchCartState()" class="exit__cart" >clear</mat-icon>
            <div class="articles-container">
                <div *ngFor="let item of products; let i = index" [ngClass]="currentDarkModeState ? 'articles-container__dark' : 'articles-container__light'">
                    <h3 class="articles-container__title" [style.color]="currentDarkModeState ? 'white' : 'black'" >{{item.title}}</h3>
                    <div class="articles-container__rows">
                        <img class="articles-container__image" src="{{item.image}}" alt="a">
                        <div class="articles-container__quantity">
                            <mat-icon (click)="removeItemInCart(item)" class="articles-container__quantity--icons">remove_circle</mat-icon>
                            <p [style.color]="currentDarkModeState ? 'white' : 'black'" >{{item.quantity}}</p>
                            <mat-icon (click)="addItemInCart(item)" class="articles-container__quantity--icons" >add_circle</mat-icon>
                        </div>
                        <div class="articles-container__prices">
                            <h4 [style.color]="currentDarkModeState ? 'white' : 'black'" >{{item.sum | number: '1.2-2'}}$</h4>
                            <p [style.color]="currentDarkModeState ? 'white' : 'black'" >{{item.price | number: '1.2-2'}}$</p>
                        </div>
                        <mat-icon (click)="removeCartItem(item)" class="articles-container__quantity--icons" >delete_forever</mat-icon>
                    </div>
                </div>
            </div>
            <div class="pay-container">
                <div class="pay-container__value">
                    <h1 [style.color]="currentDarkModeState ? 'white' : 'black'" >Grand Total</h1>
                    <h1 [style.color]="currentDarkModeState ? 'white' : 'black'" >{{grandTotal | number: '1.2-2'}}$</h1>
                </div>
                <div class="pay-container__buttons">
                        <button >Buy Now</button>
                        <button (click)="removeAllCart()" >Delete everything</button>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="products.length == 0" >
        <div [ngClass]="currentDarkModeState ? 'empty-cart__dark' : 'empty-cart__light'" >
            <img class="empty-cart__logo" [src]="'assets/image/basket.png'" alt="empty cart logo">
            <h3 [style.color]="currentDarkModeState ? 'white' : 'black'" class="empty-cart__title">Your shopping cart is empty</h3>
            <p [style.color]="currentDarkModeState ? 'white' : 'black'" class="empty-cart__news">Add items to the cart and buy them quickly and conveniently.</p>
            <button (click)="switchCartState()" class="empty-cart__btn" >Return</button>
            </div>
    </ng-container>
</main>
