<main [ngClass]="currentDarkModeState ? 'login__dark' : 'login__light'" >
    
    <img class="login__logo" [src]="'assets/image/user.png'" alt="user logo">
    <h1 class="login__title" [ngClass]="currentDarkModeState ? 'null' : 'dark-text-color'">Sign in to Shop</h1>
    <div *ngIf="firebaseError == true" class="login__error">
        <p>Incorrect email or password.</p>
    </div>
    <form class="login__container" [formGroup]="loginForm" (ngSubmit)="loginUser()" type="" [ngClass]="currentDarkModeState ? 'login__container--dark' : 'login__container--light'">
        <label for="">Email</label>
        <input type="email" formControlName="email" >
        <label for="">Password</label>
        <input type="password" formControlName="password">
        <button type="submit">Sign In</button>
    </form>
        <div [ngClass]="currentDarkModeState ? 'login__information--dark' : 'login__information--light'">
            <p >Email: test@test.com</p>
            <p >Password: Test123</p>
        </div>
</main>
