@import src/assets/utilities/colors.sass
@import src/assets/utilities/breakpoints.sass

.login__light
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
    background-color: $lightColor
    width: 100vw
    height: 92vh
    padding: 20px

.login__dark
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
    background-color: $darkColor
    width: 100vw
    height: 92vh
    padding: 20px

.login__logo
    width: 7rem
    margin-top: 11vh
    @media (max-width: $screen-m)
        margin-top: 3vh

.login__title
    font-family: Rubik
    color: $lightTextColor

.login__error
    background-color: $transparent
    min-width: 250px
    width: 17vw
    color: $errorColor
    font-family: Rubik
    border: 0.1em solid $errorColor
    border-radius: 7px
    padding-left: 10px
    margin-bottom: 1em

.login__container--light
    display: flex
    justify-content: center
    flex-direction: column
    background-color: $itemsLightColor
    width: 100%
    max-width: 400px
    border: 0
    border-radius: 7px
    padding: 15px
    margin: 0 20px 0 20px
    input
        background-color: $lightColor
        color: $darkTextColor
        height: 45px
        font-size: 100%
        margin-top: 5px
        border: 0
        outline: 0
        border-radius: 3px
        font-family: Rubik
    label
        color: $darkTextColor
        font-family: Rubik
        margin-top: 5px
    button
        background: $accessoriesColor
        color: $lightTextColor
        height: 5vh
        margin-top: 20px
        border: 0
        border-radius: 3px
        font-size: 100%
        &:active
            transform: scale(0.98)

.login__container--dark
    display: flex
    justify-content: center
    flex-direction: column
    background-color: $itemsDarkColor
    width: 100%
    max-width: 400px
    border: 0
    border-radius: 7px
    padding: 15px
    margin: 0 1em 0 1em
    input
        background-color: $inputColor
        color: $lightTextColor
        height: 45px
        width: 100%
        font-size: 100%
        margin-top: 5px
        border: 0
        outline: 0
        border-radius: 3px
        font-family: Rubik
    label
        color: $lightTextColor
        font-family: Rubik
        margin-top: 5px
    button
        margin-top: 20px
        background: $accessoriesColor
        color: $lightTextColor
        height: 45px
        margin-top: 20px
        border: 0
        border-radius: 3px
        font-size: 100%
        &:active
            transform: scale(0.98)

.login__information--light
    display: flex
    flex-direction: column
    background-color: $itemsLightColor
    width: 100%
    max-width: 400px
    border: 0
    border-radius: 7px
    padding: 15px
    margin: 1em
    p
        color: $darkTextColor
        font-family: Rubik
        margin: 0
        padding: 0.2em

.login__information--dark
    display: flex
    flex-direction: column
    background-color: $itemsDarkColor
    width: 100%
    max-width: 400px
    border: 0
    border-radius: 7px
    padding: 15px
    margin: 1em
    p
        color: $lightTextColor
        font-family: Rubik
        margin: 0
        padding: 0.2em

.dark-text-color
    color: $darkTextColor
