$mainLightColor: #f0f0f0c7
$mainDarkColor: #292929
$headerColor: linear-gradient(90deg, #6a5acd 0%, #956a7d 100%)
$productsDarkColor: #1d1d1d94
$productsLightColor: #FFFFFF
$breakpoints: 767px

@mixin hidden-text
    max-width: 250px
    display: block
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap

.main-light
    z-index: 1
    background-color: $mainLightColor
    position: relative
    display: grid
    grid-gap: 25px
    place-items: start center
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr))
    overflow: auto
    width: 100%
    height: 92vh
    padding: 3% 10% 3% 10%
    @media (max-width: $breakpoints)
        height: 84vh

.main-dark
    z-index: 1
    background-color: $mainDarkColor
    position: relative
    display: grid
    grid-gap: 25px
    place-items: start center
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr))
    overflow: auto
    width: 100%
    height: 92vh
    padding: 3% 10% 3% 10%
    @media (max-width: $breakpoints)
        height: 84vh

.category
    display: flex
    flex-direction: row
    position: absolute
    top: 1%
    @media (max-width: $breakpoints)
        display: none

.category__button
    background-color: #ffffff00
    font-family: Rubik
    font-size: 18px
    margin: 0 12px 0 12px
    border: 0
    &:active
        transform: scale(0.95)

.products-light
    background-color: $productsLightColor
    display: flex
    flex-direction: column
    border: 0
    min-width: 250px
    margin-top: 20px
    &:hover
        img
            transform: scale(0.95)

.products-dark
    background-color: $productsDarkColor
    display: flex
    flex-direction: column
    border: 0
    min-width: 250px
    margin-top: 20px
    &:hover
        img
            transform: scale(0.95)

.products__img
    width: 250px
    height: 250px

.text-container
    display: flex
    flex-direction: row
    justify-content: space-between

.products__title
    @include hidden-text
    font-weight: bold
    letter-spacing: 1px

.products__description
    @include hidden-text

.products__price
    font-weight: 500

.products__btn
    background: $headerColor
    color: $productsLightColor
    width: 20%
    border: 0

    &:active
        transform: scale(0.98)

// .sidebar
//     right: -30%

// .sidebar__active
//     position: fixed
//     width: 30%
//     height: 92vh
//     top: 8vh
//     right: 0%
//     background-color: black

//     li
//         color: white
