<main [ngClass]="currentDarkModeState ? 'main-dark' : 'main-light'" > 
    <ng-container class="x" *ngFor="let items of articlesList | filter:filterBy:'title'">
        <div [ngClass]="currentDarkModeState ? 'products-dark' : 'products-light'">
            <img class="products__img" src="{{items.image}}" alt="">
            <div class="text-container">
            <p [style.color]="currentDarkModeState ? 'white' : 'black'" class="products__title">{{items.title}}</p>
            <p [style.color]="currentDarkModeState ? 'white' : 'black'" class="products__description">{{items.description}}</p>
            <p [style.color]="currentDarkModeState ? 'white' : 'black'" class="products__price">PRICE: {{items.price}} $</p>
            </div>
            <button (click)="addArticleToCart(items)" class="products__btn">Add to cart</button>
        </div>
        </ng-container>
</main>
