<header>
    <div class="header">
        <div routerLink="/articles" class="shop-logo">
            <h1><mat-icon class="shop-logo__icon">shop</mat-icon></h1>
            <h1 class="shop-logo__name">Shop</h1>
        </div>
        <div class="search" >
            <input class="search__input" type="text" [(ngModel)]="searchItem" (keyup.enter)="search(searchItem)" placeholder="search">
            <button (click)="search(searchItem)" class="search__button" ><mat-icon class="search__button--icon">search</mat-icon></button>
        </div>
        <div class="buttons">
            <button class="buttons__switcher" (click)="switchDarkModeState()">
                <mat-icon class="buttons__switcher--light" *ngIf="currentDarkModeState" >wb_sunny</mat-icon>
                <mat-icon class="buttons__switcher--dark" *ngIf="!currentDarkModeState" >brightness_2</mat-icon>
            </button>
            <button  class="buttons__cart">
                <mat-icon routerLink="/cart" class="buttons__cart--icon">shopping_cart</mat-icon>
                <div class="buttons__cart--counter">{{counterItem}}</div></button>
        </div>
    </div>
    <div class="search__mobile" >
        <input class="search__input" type="text" [(ngModel)]="searchItem" (keyup.enter)="search(searchItem)" placeholder="search">
        <button (click)="search(searchItem)" class="search__button" ><mat-icon class="search__button--icon">search</mat-icon></button>
    </div>
    
</header>

    


