<header>
    <div class="navbar">
        <div class="shop-logo">
            <mat-icon class="shop-icon">shop</mat-icon>
            <h1 class="name">Shop</h1>
        </div>
        <mat-icon class="cart-icon">shopping_cart</mat-icon>
    </div>
</header>
<nav>
    <div class="search">
        <input class="search__input" type="text" placeholder="search">
        <select class="search__select" name="" id="" >
            <option value="">All product</option>
            <option value="">Electronic</option>
            <option value="">Fashion</option>
            <option value="">Jewelery</option>
        </select>
        <button class="search__btn" >Search<mat-icon class="search__icon">search</mat-icon></button>
    </div>
</nav>
