@import src/assets/utilities/colors.sass
@import src/assets/utilities/breakpoints.sass
@import src/assets/utilities/mixin.sass

.header
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    background: $headerColor
    padding-right: 1%
    width: 100vw
    height: 8vh
    min-height: 70px

.shop-logo
    display: flex
    flex-direction: row
    align-items: center
    justify-content: flex-start
    background-color: $accessoriesColor
    width: 180px
    height: 8vh
    min-height: 70px
    border-radius: 0 18px 18px 0
    padding-left: 1%
    cursor: pointer
    h1
        @include flexCenter
        width: 50px
    &:active
        transform: scale(0.98)
    @media only screen and (max-width: $screen-s)
        width: 85px

.shop-logo__icon
    color: $itemsLightColor
    transform: scale(2.2)
    @media only screen and (max-width: $screen-s)
        display: none

.shop-logo__name
    font-size: 2em
    font-weight: bold
    margin: 0 18px 0 18px
    color: $itemsLightColor
    @media only screen and (max-width: $screen-s)
        margin: 0 0 0 -50px

.buttons
    display: flex
    flex-direction: row
    align-items: center
    justify-content: flex-end
    height: 8vh

.buttons__switcher
    background: 0
    width: 50px
    border: 0
    margin-right: 5px
    cursor: pointer

.buttons__switcher--light
    @include navIconSize
    color: $iconColor
    &:hover
        background-color: $hoverColor
        border-radius: 7px
    &:active
        transform: scale(0.98)

.buttons__switcher--dark
    @include navIconSize
    color: $iconColor
    &:hover
        background-color: $hoverColor
        border-radius: 7px
    &:active
        transform: scale(0.98)

.buttons__cart
    display: flex
    flex-direction: row
    align-items: flex-end
    background-color: $transparent
    border: none
    cursor: pointer

.buttons__cart--icon
    color: $iconColor
    @include navIconSize
    z-index: 1
    &:hover
        background-color: $hoverColor
        border-radius: 7px
    &:active
        transform: scale(0.98)

.buttons__cart--counter
    background: $cartCounterColor
    color: $itemsLightColor
    width: 25px
    border-radius: 100px
    font-size: 13px
    margin: 0 10% -10% -10%
    padding: 2px
    opacity: 0.9

.buttons__login
    font-family: Rubik
    color: $iconColor
    border: 0
    border-radius: 7px
    font-size: 1.1rem
    background: 0
    padding: 7px
    cursor: pointer
    &:hover
        background-color: $hoverColor
        border-radius: 7px
    &:active
        transform: scale(0.98)

.buttons__login--account
    @include navIconSize

.search
    @include flexCenter
    height: 60px
    width: 600px
    @media only screen and (max-width: $screen-m)
        display: none

.search__mobile
    @include flexCenter
    background: $headerColor
    height: 8vh
    width: 100vw
    @media only screen and (min-width: 767px)
        display: none

.search__input
    font-family: Rubik
    background-color: $inputColor
    color: $lightTextColor
    height: 90%
    width: 100%
    margin-left: 1%
    padding-left: 10px
    font-size: 100%
    border: 0
    outline: 0
    border-radius: 5px 0 0 5px
    &::placeholder
        color: #ffffffb7
    @media only screen and (max-width: $screen-m)
        margin-left: 0
        height: 90%
        width: 70%

.search__button
    display: flex
    align-items: center
    background-color: $hoverColor
    color: $accessoriesColor
    height: 90%
    margin: 0
    padding: 0 15px 0 15px
    border: none
    border-radius: 0 5px 5px 0
    @media only screen and (max-width: $screen-m)
        margin-left: 0

.search__button--icon
    transform: scale(1.7)
    &:active
        transform: scale(1.5)
