$lightColor: #F8F8FB
$darkColor: #0E1324
$headerColor: #252945
$itemsLightColor: #FFFFFF
$itemsDarkColor: #252945
$accessoriesColor: #7C5EF1
$transparent: #ffffff00
$hoverColor: #ffffff15
$inputColor: #ffffff15
$iconColor: #9AA5E3
$cartCounterColor: #f70b0bd7
$errorColor: #f70b0bf8
$lightTextColor: #F8F8FB
$darkTextColor: #000000
$blurColor: #63636321
