@mixin size-text
    font-size: 100%
    text-align: center

@mixin hidden-text
    max-width: 250px
    display: block
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap

@mixin navIconSize
    font-size: 30px
    height: 30px
    width: 30px
